@import url('variables.css');


#cuenta {
  display: flex;
  justify-content: center;
  margin-block: 30px 25px;
}

.simply-section {
    padding: 0.4rem;
    margin: 0 5px;
    text-align: center;
}

.simply-amount {
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
  border-radius: 100%;
  
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-contraste);
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-principal);

}

.simply-word {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-principal);
}


